{{- $result := dict "editable" false "url" "" -}}
{{- $page := . -}}

{{- with $page.File -}}
  {{- $path := replace .Path "\\" "/" -}}
  {{- $schema := "" -}}
  {{- $schemaType := "collection" -}}

  {{- if hasPrefix $path "posts/" -}}
    {{- $schema = "posts" -}}
  {{- else if hasPrefix $path "rules/move/" -}}
    {{- $schema = "moves" -}}
  {{- else if hasPrefix $path "rules/class/" -}}
    {{- $schema = "classes" -}}
  {{- else if eq $path "rules/_index.md" -}}
    {{- $schema = "rules_home" -}}
    {{- $schemaType = "file" -}}
  {{- else if eq $path "rules/how to play/index.md" -}}
    {{- $schema = "how_to_play" -}}
    {{- $schemaType = "file" -}}
  {{- else if eq $path "world/_index.md" -}}
    {{- $schema = "world_home" -}}
    {{- $schemaType = "file" -}}
  {{- else if eq $path "categories/article/_index.md" -}}
    {{- $schema = "article_category" -}}
    {{- $schemaType = "file" -}}
  {{- else if eq $path "categories/class/_index.md" -}}
    {{- $schema = "class_category" -}}
    {{- $schemaType = "file" -}}
  {{- else if eq $path "_index.md" -}}
    {{- $schema = "home" -}}
    {{- $schemaType = "file" -}}
  {{- end -}}

  {{- if $schema -}}
    {{- $cms := site.Params.pagesCMS -}}
    {{- $baseURL := strings.TrimRight "/" ($cms.baseURL | default "https://app.pagescms.org") -}}
    {{- $owner := $cms.owner | default "" -}}
    {{- $repo := $cms.repo | default "" -}}
    {{- $branch := $cms.branch | default "main" -}}

    {{- if and $owner $repo -}}
      {{- $url := "" -}}
      {{- $encodedBranch := replace ($branch | urlquery) "+" "%20" -}}
      {{- $encodedSchema := replace ($schema | urlquery) "+" "%20" -}}
      {{- if eq $schemaType "file" -}}
        {{- $url = printf "%s/%s/%s/%s/file/%s" $baseURL $owner $repo $encodedBranch $encodedSchema -}}
      {{- else -}}
        {{- $repoPath := printf "content/%s" $path -}}
        {{- $encodedRepoPath := replace ($repoPath | urlquery) "+" "%20" -}}
        {{- $url = printf "%s/%s/%s/%s/collection/%s/edit/%s" $baseURL $owner $repo $encodedBranch $encodedSchema $encodedRepoPath -}}
      {{- end -}}
      {{- $result = dict "editable" true "url" $url -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- return $result -}}
