<div class="footer-line">
  <span>Copyright {{ now.Year }}. All rights reserved.</span>
  <a
    href="https://github.com/jack-hk/cleanwiki"
    target="_blank"
    rel="noopener noreferrer">
    Made by Jack with love &lt;3
  </a>
</div>

{{- if eq .Kind "page" -}}
  {{- $pagefindCategory := lower (.Section | default "other") -}}
  {{- with .Params.categories -}}
    {{- with index . 0 -}}
      {{- $pagefindCategory = lower (printf "%v" .) -}}
    {{- end -}}
  {{- end -}}
  <span hidden data-pagefind-meta="category:{{ $pagefindCategory }}"></span>
  {{- $fitThumbnail := site.Params.pagefind.fitThumbnails | default false -}}
  {{- if isset .Params "fitthumbnail" -}}
    {{- $fitThumbnail = .Params.fitThumbnail -}}
  {{- end -}}
  {{- if $fitThumbnail -}}
    <span hidden data-pagefind-meta="thumbnail_fit:true"></span>
  {{- end -}}
{{- end -}}
