:root {
  /* Primary */
  --color-primary: #5f4552;
  --color-secondary: #a6e3ff;
  --color-accent: #c47c6d;
  --color-ink: #352b30;

  /* Text */
  --color-text-default: #333333;
  --color-text-muted: #737373;
  --color-text-light: #fff;
  --color-text-disabled: rgba(0, 0, 0, 0.1);
  --color-text-inverted: #fff;

  /* Background */
  --color-background-default: #f7eee7;
  --color-background-light: #fffaf5;
  --color-background-overlay: rgba(0, 0, 0, 0.2);

  /* Interactive */
  --color-interactive-hover: rgba(0, 0, 0, 0.2);
  --color-interactive-active: rgb(230, 230, 230);
  --color-interactive-focus: #034ad8;

  /* Borders */
  --color-border-default: #9c9c9c5f;
  --color-border-navbar: #dbdbdb;

  /* Quotations */
  --color-quote-background: #f0ddd4;
  --color-quote-border: #c47c6d;
  --color-quote-text: #333333;
  --color-quote-attribution: #737373;
}

[data-theme='dark'] {
  /* Primary */
  --color-primary: #a68c99; /* Lighter, muted primary color for dark mode */
  --color-secondary: #4fbbd9; /* Lighter secondary for contrast */
  --color-accent: #e1a17d; /* Slightly brighter accent for dark background */
  --color-ink: #d7cfc5; /* Lighter ink color for better readability */

  /* Text */
  --color-text-default: #e8e4df; /* Lighter text for dark backgrounds */
  --color-text-muted: #b3b3b3; /* Muted text for secondary information */
  --color-text-disabled: rgba(255, 255, 255, 0.07); /* Subtle disabled text */
  --color-text-inverted: #333333; /* Darker text for inverted backgrounds */

  /* Background */
  --color-background-default: #121212; /* Dark background */
  --color-background-light: #1e1e1e; /* Slightly lighter background for sections */
  --color-background-overlay: rgba(
    255,
    255,
    255,
    0.1
  ); /* Light overlay for dark mode */

  /* Interactive */
  --color-interactive-hover: rgba(255, 255, 255, 0.1); /* Light hover effect */
  --color-interactive-active: rgb(
    60,
    60,
    60
  ); /* Active state with subtle contrast */
  --color-interactive-focus: #00aaff; /* Bright, noticeable focus color */

  /* Borders */
  --color-border-default: #302e2e; /* Subtle border for dark mode */
  --color-border-navbar: #333333; /* Lighter border for navbar sections */

  /* Quotations */
  --color-quote-background: #2b2225;
  --color-quote-border: #e1a17d;
  --color-quote-text: #e8e4df;
  --color-quote-attribution: #b3b3b3;
}
