@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap');

// Apply fonts globally (override theme)
body {
  background-color: #f9f4ee;
  font-family: 'Crimson Text', 'Times New Roman', serif !important;
  font-size: 1.3rem;
}

.layout__navbar {
  background-color: #f9f4ef !important;
  border-right: 1px solid #afafaf7f !important;
  border-top: 1px solid #afafaf7f !important;
}

.home-header__subtitle {
  margin-top: -15px !important;
}
.big-tile__item--event .event-meta {
  color: #c47c6d !important;
}
.special-text {
  color: #c47c6d !important;
}
code,
pre {
  font-family: 'Courier New', monospace !important;
}

@mixin heading-style($scale: 1.2) {
  font-family: 'Aladin', cursive !important;
  font-size: (1rem * $scale) !important;
}
@mixin subheading-style($scale: 1.2) {
  font-family: 'Crimson Text', cursive !important;
  font-size: (1rem * $scale) !important;
}

h1 {
  @include heading-style(4);
}
h2 {
  @include subheading-style(2.2);
}
h3 {
  @include subheading-style(1.5);
}
h4,
tr,
td,
th {
  @include subheading-style(1.3);
}

.wiki-see-also {
  bottom: 4%;
  box-shadow: 0 0.25rem 0.35rem -0.25rem rgba(0, 0, 0, 0.1);
  left: 2%;
  padding: 4px;
  position: fixed;
  width: 96%;
  z-index: -1;
}

.wiki-see-also a:hover {
  text-decoration: underline 1.5px;
}

.wiki-title {
  border-bottom: 1px solid #343434;
  margin-top: 1.5rem;
}

.icon img {
  filter: none;
}

.infobox-table {
  box-sizing: border-box;
  color: #333;
  float: right;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  overflow: hidden;
  table-layout: fixed;
  width: 300px;
}

.infobox-table table {
  margin: 0;
}

.infobox-table td,
.infobox-table th {
  box-sizing: border-box;
  padding: 8px 12px;
  vertical-align: top;
  word-wrap: break-word;
}

.infobox-table td:first-child {
  min-width: 120px;
  width: 40%;
}

.infobox-table td:last-child {
  min-width: 180px;
  width: 60%;
}

.infobox-table .title {
  background-color: #fff;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.infobox-table .divider td {
  background-color: #f5f5f5;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.infobox-cell td,
.infobox-cell th,
.icon {
  background-color: #fff;
  border: 1px solid #717171;
}

.infobox-table .icon img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
}

@media (max-width: 600px) {
  .infobox-table {
    float: none;
    margin: 1em auto;
    table-layout: auto;
    width: 90%;
  }

  .infobox-table td:first-child,
  .infobox-table td:last-child {
    min-width: unset !important;
    width: 100% !important;
  }
}
