.section-header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;

  &__title {
    align-items: center;
    display: flex;
    font-weight: bold;
    gap: 1rem;
    text-align: center;
    width: 100%;

    &::before,
    &::after {
      border-radius: 100%;
      content: '';
      flex: 1;
      height: 2px;
    }
  }
}
