{{ define "main" }}
  {{ $showWikiDate := default false site.Params.wiki.show_date }}
  {{ if isset .Params "show_date" }}
    {{ $showWikiDate = .Params.show_date }}
  {{ end }}

  <article class="wiki wiki--mobile-fullscreen">
    {{- partial "breadcrumbs" . -}}

    {{ if or (site.Params.pageLayout.showHeader | default true) (and $showWikiDate .Date) (and (site.Params.pageLayout.showTaxonomies | default true) (or (.GetTerms "categories") (.GetTerms "tags"))) }}
      <header class="wiki__header">
        {{ if site.Params.pageLayout.showHeader | default true }}
          <h1 class="wiki__title page__title">{{ .Title }}</h1>
        {{ end }}

        {{ if and (site.Params.pageLayout.showMeta | default true) $showWikiDate .Date }}
          <div class="page__meta">
            <time
              class="page__date"
              datetime="{{ .Date | time.Format "2006-01-02T15:04:05Z07:00" }}">
              {{ .Date | time.Format ":date_long" }}
            </time>
          </div>
        {{ end }}

        {{ if and (site.Params.pageLayout.showTaxonomies | default true) (or (.GetTerms "categories") (.GetTerms "tags")) }}
          <div class="page__taxonomies">
            {{ with .GetTerms "categories" }}
              <div class="page__categories">
                <span class="page__label">Categories:</span>
                <ul class="page__list page__list--categories">
                  {{ range . }}
                    <li class="page__list-item">
                      <a href="{{ .RelPermalink }}" class="page__link page__link--block">
                        {{ if site.Params.pageLayout.showTaxonomyIcons | default true }}
                          <span class="page__icon page__icon--category">{{ partial "icons/category" }}</span>
                        {{ end }}
                        <span class="page__link-text">{{ .LinkTitle }}</span>
                      </a>
                    </li>
                  {{ end }}
                </ul>
              </div>
            {{ end }}

            {{ with .GetTerms "tags" }}
              <div class="page__tags">
                <span class="page__label">Tags:</span>
                <ul class="page__list page__list--tags">
                  {{ range . }}
                    <li class="page__list-item">
                      <a href="{{ .RelPermalink }}" class="page__link page__link--block">
                        {{ if site.Params.pageLayout.showTaxonomyIcons | default true }}
                          <span class="page__icon page__icon--tag">{{ partial "icons/tag" }}</span>
                        {{ end }}
                        <span class="page__link-text">#{{ .LinkTitle }}</span>
                      </a>
                    </li>
                  {{ end }}
                </ul>
              </div>
            {{ end }}
          </div>
        {{ end }}
      </header>
    {{ end }}

    {{ if and (site.Params.pageLayout.showFeaturedImage | default true) .Params.featured_image }}
      <figure class="wiki__figure">
        <img
          src="{{ .Params.featured_image | relURL }}"
          alt="{{ .Title }}"
          class="wiki__image" />
        {{ if .Params.image_caption }}
          <figcaption class="wiki__caption">
            {{ .Params.image_caption }}
          </figcaption>
        {{ end }}
      </figure>
    {{ end }}

    {{- $showInfobox := false -}}
    {{- with .Params.infobox -}}
      {{- $hasHeader := ne (strings.TrimSpace (.header | default "")) "" -}}
      {{- $hasImage := ne (strings.TrimSpace ((or .image .icon) | default "")) "" -}}
      {{- $hasRows := false -}}
      {{- range .labels -}}
        {{- $hasLabel := ne (strings.TrimSpace (.label | default "")) "" -}}
        {{- $hasValue := ne (strings.TrimSpace (.item | default "")) "" -}}
        {{- if or .divider $hasLabel $hasValue -}}
          {{- $hasRows = true -}}
        {{- end -}}
      {{- end -}}
      {{- $showInfobox = or $hasHeader $hasImage $hasRows -}}
    {{- end -}}

    {{ if $showInfobox }}
      <aside class="wiki__infobox" data-pagefind-ignore>
        {{ with .Params.infobox }}
          {{- $infoboxImage := (or .image .icon) -}}
          {{- $infoboxImageSize := (or .imageSize .iconSize) -}}
          {{- $infoboxImageMargin := (or .imageMargin .iconMargin) -}}
          {{- $infoboxIconColor := .iconColor | default $.Params.iconColor -}}
          {{ if ne (strings.TrimSpace (.header | default "")) "" }}
            <div class="wiki__infobox-header">
              <h2 class="wiki__infobox-title">{{ .header }}</h2>
            </div>
          {{ end }}

          {{ if $infoboxImage }}
            <div
              class="wiki__infobox-image-container"
              {{ if or $infoboxImageSize $infoboxImageMargin }}
                style="{{ if $infoboxImageSize }}
                  --image-size: {{ $infoboxImageSize }}px;
                {{ end }}{{ if $infoboxImageMargin }}
                  --image-margin: {{ $infoboxImageMargin }};
                {{ else }}
                  --image-margin: 10px auto;
                {{ end }}"
              {{ else }}
                style="--image-margin: 10px auto"
              {{ end }}>
              {{ partial "infobox-icon.html" (dict
                "image" $infoboxImage
                "imageSize" $infoboxImageSize
                "imageMargin" $infoboxImageMargin
                "iconColor" $infoboxIconColor
                "badgePath" (or .badgePath .badge .badgeIcon .badgeSvg)
                "badgeEnabled" .badgeEnabled
                "badgeOnThumbnail" .badgeOnThumbnail
                "pageBadgeOnThumbnail" $.Params.badgeOnThumbnail
                "badgeBackgroundColor" (or .badgeBackgroundColor .badgeColor)
                "badgeForegroundColor" .badgeForegroundColor
                "badgeSize" .badgeSize
                )
              }}
            </div>
          {{ end }}

          {{- $hasRows := false -}}
          {{- range .labels -}}
            {{- if or .divider (ne (strings.TrimSpace (.label | default "")) "") (ne (strings.TrimSpace (.item | default "")) "") -}}
              {{- $hasRows = true -}}
            {{- end -}}
          {{- end -}}
          {{ if $hasRows }}
            <div class="wiki__infobox-content">
              {{ range .labels }}
                {{- $hasLabel := ne (strings.TrimSpace (.label | default "")) "" -}}
                {{- $hasValue := ne (strings.TrimSpace (.item | default "")) "" -}}
                {{ if or .divider $hasLabel $hasValue }}
                  {{ if .divider }}
                    <div class="wiki__infobox-divider"></div>
                  {{ else }}
                    <div class="wiki__infobox-item">
                      {{ if $hasLabel }}
                        <div class="wiki__infobox-label"
                          >{{ .label | markdownify }}</div
                        >
                      {{ end }}
                      {{ if $hasValue }}
                        <div class="wiki__infobox-value"
                          >{{ .item | markdownify }}</div
                        >
                      {{ end }}
                    </div>
                  {{ end }}
                {{ end }}
              {{ end }}
            </div>
          {{ end }}
        {{ end }}
      </aside>
    {{ end }}


    <div class="wiki__content">
      {{ .Content }}
    </div>

    {{ if .Params.also }}
      <div class="wiki__content-footer">
        <div class="wiki__see-also">
          <h2 class="wiki__see-also-title">See also</h2>
          <ul class="wiki__see-also-list">
            {{ range .Params.also }}
              <li class="wiki__see-also-item">
                <a
                  href="{{ (printf "/rules/%s" (. | urlize)) | relURL }}"
                  class="wiki__see-also-link">
                  {{ . | replaceRE "-" " " | title }}
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    {{ end }}

    {{/* Remaining Footer: Updated and References only */}}
    {{ if or (and (site.Params.pageLayout.showUpdated | default true) .Params.updated) (and (site.Params.pageLayout.showReferences | default true) .Params.references) }}
      <footer class="wiki__footer">
        {{ if and (site.Params.pageLayout.showUpdated | default true) .Params.updated }}
          <div class="wiki__updated">
            <span class="wiki__label">Last updated:</span>
            <time datetime="{{ .Params.updated | dateFormat "2006-01-02" }}"
              >{{ .Params.updated | dateFormat "January 2, 2006" }}</time
            >
          </div>
        {{ end }}

        {{ if and (site.Params.pageLayout.showReferences | default true) .Params.references }}
          <div class="wiki__references">
            <h3 class="wiki__label">References</h3>
            <ul class="wiki__list wiki__list--references">
              {{ range .Params.references }}
                <li class="wiki__list-item">
                  <a
                    href="{{ .url }}"
                    class="wiki__link wiki__link--block"
                    target="_blank"
                    rel="noopener">
                    {{ .title }}
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </footer>
    {{ end }}
  </article>
{{ end }}

{{ define "footer" }}
{{ end }}

{{ define "comments" }}
  <h4>Comments:</h4>
  <div
    id="cusdis_thread"
    data-host="https://cusdis.com"
    data-app-id="724cfa29-2df4-4319-b6f0-d0616bcac03b"
    data-page-id="{{ .File.UniqueID }}"
    data-page-url="{{ .Permalink }}"
    data-page-title="{{ .Title }}"></div>
  <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
{{ end }}
