/* Wiki content type */
.wiki-see-also {
  bottom: 4%;
  left: 2%;
  padding: 4px;
  position: fixed;
  width: 96%;
  z-index: -1;
  box-shadow: 0 .25rem .35rem -.25rem rgba(0,0,0,.1);
}

.wiki-see-also a:hover {
  text-decoration: underline 1.5px;
}

.wiki-title {
  border-bottom: 1px solid #8e8e8e;
  margin-top: $top-margin-title;
}

/* Infobox container */
.icon img {
  filter: var(--icon-filter);
}

.infobox-table {
  box-sizing: border-box; /* Ensures that padding and border are included in the width calculation */
  color: var(--infobox-font-color);
  float: right;
  font-size: $infobox-font-size;
  margin-bottom: $infobox-margin;
  margin-left: $infobox-margin;
  overflow: hidden; 
  table-layout: fixed; /* Ensures columns have fixed width */
  width: $infobox-width; /* Fixed width for the entire table */
}

.infobox-table table {
  margin: 0; /* Ensure there's no extra margin around the table */
}

.infobox-table td,
.infobox-table th { /* For each cell */
  box-sizing: border-box; /* Ensure padding and borders are included in the total width calculation */
  padding: 8px 12px;
  vertical-align: top;
  word-wrap: break-word; /* Handle long words by breaking them */
}

/* Define the fixed width of the columns with percentages, using calc to compute min-width */
.infobox-table td:first-child {
  min-width: $infobox-width * $infobox-first-width / 100; /* 40% of $infobox-width (300px * 0.4 = 120px) */
  width: $infobox-first-width * 1%;
}

.infobox-table td:last-child {
  min-width: $infobox-width * $infobox-last-width / 100; /* 60% of $infobox-width (300px * 0.6 = 180px) */
  width: $infobox-last-width * 1%;
}

.infobox-table .title { 
  background-color: var(--infobox-header-color); 
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.infobox-table .divider td {
  background-color: var(--infobox-divider-color);
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.infobox-cell td,
.infobox-cell th,
.icon {
  border: var(--infobox-border); 
  background-color: var(--infobox-cell-color);
}

/* Styling for icons (ensure the image stays within bounds) */
.infobox-table .icon img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
}

/* Mobile-specific adjustments */
@media (max-width: 600px) {
  .infobox-table {
    float: none;
    margin: 1em auto; /* Center the table */
    table-layout: auto; /* Ensures columns have fixed width */
    width: 90%;
  }

  /* Ensure cells expand to fill available space */
  .infobox-table td:first-child,
  .infobox-table td:last-child {
    min-width: unset !important;
    width: 100% !important; /* Allow column widths to auto-adjust */
  }
}
