<header class="popover-navigation__header">
  <div class="popover-navigation__header-icon"></div>
  <h2 class="popover-navigation__header-title">Golden Wastes</h2>
</header>

<span class="popover-navigation__separator"></span>
<h4 class="popover-navigation__subtitle">Menu</h4>
<main class="popover-navigation__main">
  <nav class="popover-navigation__column">
    <a href="#" class="popover-navigation__item">How To Play</a>
    <a href="#" class="popover-navigation__item">The Wastes</a>
    <a href="#" class="popover-navigation__item">Events</a>
  </nav>
  <nav class="popover-navigation__column">
    <a href="#" class="popover-navigation__item">Classes</a>
    <a href="#" class="popover-navigation__item">Equipment</a>
    <a href="#" class="popover-navigation__item"
      >{{ partial "icons/snake.html" }}Beastiary</a
    >
  </nav>
</main>
<span class="popover-navigation__separator"></span>

<footer class="popover-navigation__footer">Footer</footer>
