<section class="popover-settings_section">
  <div class="popover-settings__row">
    <fieldset class="theme-toggle" id="theme-switcher">
      <legend class="theme-toggle__label">Theme</legend>

      <label class="theme-toggle__option">
        <input type="radio" name="theme" value="auto" checked />
        Auto
      </label>

      <label class="theme-toggle__option">
        <input type="radio" name="theme" value="light" />
        Light
      </label>

      <label class="theme-toggle__option">
        <input type="radio" name="theme" value="dark" />
        Dark
      </label>
    </fieldset>
  </div>
</section>
