<div class="book-brand">
  {{ if .Site.Params.BookLogo }}
    <a class="flex align-center"
       href="{{ cond (not .Site.Home.File) .Sites.Default.Home.RelPermalink .Site.Home.RelPermalink }}">
      <img src="{{ .Site.Params.BookLogo | relURL }}" alt="{{ .Site.Params.BookLogoAlt }}" title="{{ .Site.Params.BookLogoAlt }}" class="atlas-logo"/>
    </a>
  {{ else }}
    <a class="flex align-center"
       href="{{ cond (not .Site.Home.File) .Sites.Default.Home.RelPermalink .Site.Home.RelPermalink }}">
      <span>{{ .Site.Title }}</span>
    </a>
  {{ end }}
</div>