<article
  class="big-tile__item big-tile__item--article"
  style="background-image: url('{{ .page.Params.image }}')"{{ if .page.Params.invertDark }} data-invert-dark="true"{{ end }}>
  <a href="{{ .page.RelPermalink }}" class="big-tile__link">
    <span class="big-tile__category">{{ .category }}</span>
    <div class="big-tile__overlay">
      <div class="big-tile__content">
        <h2 class="big-tile__title">{{ .page.Title }}</h2>
        <p class="big-tile__excerpt">
          {{- .page.Summary | plainify | truncate .truncate -}}
        </p>
        <div class="special-text">🎲 See more, delve deeper...</div>
      </div>
    </div>
  </a>
</article>
