.popover-search {
  background-color: var(--color-background-light);
  border: none;
  border-radius: $popover-border-radius;
  box-shadow: $popover-box-shadow;
  overflow-y: auto;
  overscroll-behavior: contain;

  @include for-screen(mobile) {
    left: 0;
    margin-top: $popover-tablet-top;
    max-height: $popover-mobile-max-height;
    width: $popover-mobile-width;

    &::backdrop {
      backdrop-filter: blur(6px);
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  @include for-screen(tablet) {
    animation: slideRight $slide-speed $slide-easing forwards;
    inset: auto;
    max-height: $popover-tablet-max-height;
    top: $popover-tablet-top;

    &::backdrop {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
